	<article id="contact">
        <link rel="stylesheet" href="./static/assets/css/main.css" />
		<link href="./static/assets/coffee.ico" rel="icon">
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
            <form>
								<h2 class="major">Contact</h2>
								Thank you! I will get in touch with you shortly!
									<div class="fields">
										<div class="field half">
									</div>
                                </form>
                            <script src="./static/assets/js/jquery.min.js"></script>
			                <script src="./static/assets/js/browser.min.js"></script>
			                <script src="./static/assets/js/breakpoints.min.js"></script>
			                <script src="./static/assets/js/util.js"></script>
			                <script src="./static/assets/js/main.js"></script>
                        </article>